<#include "header.htm"/>
<table class="forumline" align="center" border="0" cellpadding="3" cellspacing="1" width="80%">
	<tr>
		<th class="thhead" colspan="2" height="25" valign="middle">${I18n.getMessage("User.agreement.title")}</th>
	</tr>
				
	<tr>
		<td class="row1" colspan="2" width="100%">
			<span class="gen">
				${I18n.getMessage("User.agreement.content.1")}
				${I18n.getMessage("User.agreement.content.2")}
				${I18n.getMessage("User.agreement.content.3")}
				${I18n.getMessage("User.agreement.content.4")}
				${I18n.getMessage("User.agreement.content.5")}
				${I18n.getMessage("User.agreement.content.6")}
				${I18n.getMessage("User.agreement.content.7")}
				${I18n.getMessage("User.agreement.content.8")}
				${I18n.getMessage("User.agreement.content.9")}
				${I18n.getMessage("User.agreement.content.10")}
				${I18n.getMessage("User.agreement.content.11")}
				${I18n.getMessage("User.agreement.content.12")}
				${I18n.getMessage("User.agreement.content.13")}
				${I18n.getMessage("User.agreement.content.14")}
				${I18n.getMessage("User.agreement.content.15")}
				${I18n.getMessage("User.agreement.content.16")}
				${I18n.getMessage("User.agreement.content.17")}
				${I18n.getMessage("User.agreement.content.18")}
			</span>
		</td>
	</tr>				
				
	<tr align="center">
		<td class="catbottom" colspan="2" height="28">
			<input class="mainoption" value="${I18n.getMessage("User.agreement.accept")}" name="submit" onclick="document.location = '${contextPath}/jforum${extension}?module=user&action=acceptAgreement';" type="button">&nbsp;&nbsp;
			<input class="mainoption" value="${I18n.getMessage("User.agreement.noAccept")}" onclick="document.location = '${JForumContext.encodeURL("/forums/list")}';" type="button">&nbsp;&nbsp;
		</td>
	</tr>
</table>
<#include "bottom.htm"/>