</td>
</tr>
	<tr>
		<td align="center">
			<#if session?exists && session.isAdmin()><span class="gen"><a id="adminpanel" href='${JForumContext.encodeURL("/admBase/login")}'>${I18n.getMessage("ForumBase.admin")}</a></span></#if>
		</td>
	</tr>

	<tr>
		<td align="center" valign="top" height="50px">
			<span class="copyright">${I18n.getMessage("ForumBase.footer")}
				<!--<a class="copyright" href="http://www.jforum.net/" target="_blank">JForum ${version}</a> &copy; <a class="copyright" href="http://www.jforum.net/team.jsp" target="_blank">JForum Team</a> -->
				<!--Template: <a href="http://www.trydone.com">Trydone</a>-->
					<!-- Begin:51.la --> 
					<script language="javascript" type="text/javascript" src="http://js.users.51.la/3996055.js"></script>
				 	<noscript><a href="http://www.51.la/?3996055" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/3996055.asp" style="border:none" /></a></noscript>
					<!-- End:51.la -->       

			</span>
		</td>
	</tr>

</table>

<#if hasCodeBlock>
	<#include "highlighter_js.htm"/>
</#if>

</body>



</html>